p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}



#tableinput{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #323232;
    color: #FFF;
}

input{
    padding: 3px 10px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #323232;
    color: #FFF;
}


div.dataTables_length select {
    color: #787878;
    background-color: #323232;
    border-radius: 5px; 
  }


#example_info
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

#example1_info
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

.paginate_button
{
    cursor: pointer;
      outline: 0;
      color: #FFFFFF;
      background-color: #787878;
      border-color: #787878;
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      border: 1px solid transparent;
      padding: 6px 12px;
      font-size: 16px;
      border-radius: .25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      margin-right: 10px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #000000;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000000;
}

#sidebar .sidebar-header img {
    margin: auto; /* Esto centra la imagen horizontalmente */
    width: 100%; /* La imagen ocupa el 100% del ancho disponible */
    max-width: 200px; /* La imagen no se hace más grande que 200 píxeles de ancho */
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #000;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #787878;
}


#sidebarCollapse{
    display: none;
    background-color: #000000;
}

.lisubmenu{
    background-color: #494949;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#menuicon{
    width: 15px;
    height: 2px;
    background-color: white;
    margin: 3px;
}

#createbutton{
    text-align: right;
    margin-bottom: 10px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .wrapper{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse {
        display: block;
    }
    #createbutton {
        text-align: left;
    }
}


/* ---------------------------------------------------
    BOTONES
----------------------------------------------------- */

.btn-lightGray {
    cursor: pointer;
    outline: 0;
    color: #FFFFFF;
    background-color: #787878;
    border-color: #787878;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-lightGray:hover {
    color: #fff;
    background-color: #494949;
    border-color: #494949;
}