.btn-lightGray
{
    cursor: pointer;
    outline: 0;
    color: #FFFFFF;
    background-color: #787878;
    border-color: #787878;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 15px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
}

.btn-lightGray:hover {
    color: #fff;
    background-color: #494949;
    border-color: #494949;          
}