{% extends 'base.html' %}


{% block title %} Actualizar Producto {% endblock %}


{% block body %}

    <style>
        .btn-lightGray
        {
            
            cursor: pointer;
            outline: 0;
            color: #FFFFFF;
            background-color: #787878;
            border-color: #787878;
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 16px;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
        }

        .btn-lightGray:hover {
            color: #fff;
            background-color: #494949;
            border-color: #494949;          
        }
        form {
            width: 80%;
            margin: 0 auto;
        }
          
        .left, .right {
            width: 50%;
        }
          
        .left {
            float: left;
        }
          
        .right {
            margin-bottom: 20px;
            float: right;
            border-radius: 5px;
            padding: 15px;
        }
          
        input[type="text"] {
            width: 80%;
        }

        input[type="number"] {
            width: 80%;
        }
    
        .right input[type="text"] {
            width: 100%;
        }
        .right input[type="number"] {
            width: 100%;
        }
        
        @media (max-width: 600px) {
            .left, .right {
                width: 100%;
                float: none;
            }
        }
    </style>

<h1 class="text-light">Editar producto</h1> 

<br>

{% if message %}
    <p style="color: #FFFFFF;">{{ message }}</p>
{% endif %}

<body>

    <form action="/actualizar_producto/{{ key }}" method="post">
  <div class="left">
    <input type="hidden"  name="id" value="{{key}}">
    <h1 style="color: #FFFFFF; font-size:x-large;" name="codigo">{{ campo['codigo'] }}</h1>


    <label style="color: #FFFFFF;">Descripción</label>
    <input type="text" class="form-control" name="descripcion" value="{{ campo['descripcion'] }}" pattern="^(?!\s*$).{3,}$" title="Mínimo 3 caracteres" required>
 
    <label style="color: #FFFFFF;">OEM</label><br>
    
    {% for data in campo['oems'].values() %}
    <fieldset class="myfieldset mt-4">
        {% if not loop.first %}
            <button type="button" class="btn-danger" style="height: 30px; width: 80%; display: flex; align-items: center; justify-content: center;" onclick="eliminarSubProducto(this)"><i class="fas fa-trash"></i></button>
        {% endif %}
        <div class="inputs">
            <input type="text" name="oem0" class="form-control oem" placeholder="Código" value="{{ data[0] }}">
            {% for x in range (1, data|length) %}
                {% if x == 1 %}
                    <input type="text" name="oem0" class="form-control oem" placeholder="Subcódigo" value="{{ data[x] }}">
                {% else %}
                <div class="subproductos" style="display:flex; width: 80%; align-items: center;">
                    <input type="text" class="form-control oem" name="oem0" placeholder="Subcódigo" value="{{ data[x] }}"> 
                    <button type="button" class="btn-danger" style="height: 30px; width: 30px; margin-left: auto; border-radius: 20%; display: flex; align-items: center; justify-content: center;" onclick="eliminarSubProducto(this)"><i class="fas fa-trash"></i></button>
                </div>
                {% endif %}    
            {% endfor %}
        </div>
        <button type="button" class="btn btn-lightGray mt-1" style="width: 80%;" onclick="agregarSubProducto(this)">Agregar subproducto</button>
    </fieldset>  
    {% endfor %}
    <button type="button" class="agregarbutton btn btn-lightGray mt-4" onclick="agregarProducto()">Agregar producto</button>
    <br>

    <label style="color: #FFFFFF;">Precio</label>
    <input type="number" class="form-control" name="precio" value="{{ campo['precio'] }}"required>

    <label style="color: #FFFFFF;">Marca</label>
    <input type="text" class="form-control" name="marca" value="{{ campo['marca'] }}" pattern="^(?!\s*$).{3,}$" title="Mínimo 3 caracteres" required>

    <label style="color: #FFFFFF;">Referencia</label>
    <input type="text" class="form-control" name="referencia" value="{{ campo['referencia'] }}">

  </div>

    {% if campo %}
        {% for estado, datos in campo['estado'].items() %}
            <h3 style="color: #FFFFFF; font-size:x-large;">{{ estado }}</h3>
                <div class="right" style="background-color: black;">
                    <h1 style="color: #FFFFFF; font-size:x-large;">Ubicación</h1>
                    <input type="text" class="form-control" name="ubicacion {{ estado }}" value="{{ datos['ubicacion'] }}">
                
                    <h1 style="color: #FFFFFF; font-size:x-large;">Ubicación especifica</h1>
                    <input type="text" class="form-control" name="ubicacionespecifica {{ estado }}" value="{{ datos['ubicacionespecifica'] }}">
                
                    <h1 style="color: #FFFFFF; font-size:x-large;">Stock</h1>
                    <input type="text" class="form-control" name="stock {{ estado }}" value="{{ datos['stock'] }}">
                </div>
        {% endfor %}
    {% endif %}

    <button class="btn btn-lightGray mt-4" type="submit">Actualizar</button>
    <a href="/detalles_producto/{{ key }}"> 
        <button class="btn btn-lightGray mt-4" type="button">Cancelar</button>
    </a>
</form>

</body>

<script>
    let contador = 1;

    function agregarSubProducto(btn) {
        var div = document.createElement("div");
        div.setAttribute("class", "subproductos");
        div.setAttribute("style", "display:flex; width: 80%; align-items: center;");
        let inputName = btn.parentNode.querySelector('input').getAttribute('name');
        div.innerHTML = '<input type="text" class="form-control oem" name="' + inputName + '" placeholder="Subcódigo"> <button type="button" class="btn-danger" style="height: 30px; width: 30px; margin-left: auto; border-radius: 20%; display: flex; align-items: center; justify-content: center;" onclick="eliminarSubProducto(this)"><i class="fas fa-trash"></i></button>';
        let inputsDiv = btn.parentNode.querySelector('.inputs');
        inputsDiv.appendChild(div);
    }

    function eliminarSubProducto(btn) {
        btn.parentNode.remove();
    }
    function agregarProducto() {
        // Crear un nuevo fieldset
        let nuevoFieldset = document.createElement('fieldset');
        nuevoFieldset.setAttribute('class', 'myfieldset mt-4');
        nuevoFieldset.innerHTML = '<button type="button" class="btn-danger" style="height: 30px; width: 80%; display: flex; align-items: center; justify-content: center;" onclick="eliminarSubProducto(this)"><i class="fas fa-trash"></i></button>';

        
        // Crear un div para los inputs
        let inputsDiv = document.createElement('div');
        inputsDiv.setAttribute('class', 'inputs');
       
        // Crear los inputs
        let inputCodigo = document.createElement('input');
        inputCodigo.setAttribute('type', 'text');
        inputCodigo.setAttribute('name', 'oem' + contador);
        inputCodigo.setAttribute('class', 'form-control oem');
        inputCodigo.setAttribute('placeholder', 'Código');
        
        let inputSubcodigo = document.createElement('input');
        inputSubcodigo.setAttribute('type', 'text');
        inputSubcodigo.setAttribute('name', 'oem' + contador);
        inputSubcodigo.setAttribute('class', 'form-control oem');
        inputSubcodigo.setAttribute('placeholder', 'Subcódigo');
        
        // Agregar los inputs al div
        inputsDiv.appendChild(inputCodigo);
        inputsDiv.appendChild(inputSubcodigo);
        
        // Crear el botón para agregar subproducto
        let botonAgregarSubproducto = document.createElement('button');
        botonAgregarSubproducto.setAttribute('type', 'button');
        botonAgregarSubproducto.setAttribute('class', 'btn btn-lightGray mt-1');
        botonAgregarSubproducto.setAttribute('style', 'width:80%;');
        botonAgregarSubproducto.setAttribute('onclick', 'agregarSubProducto(this)');
        botonAgregarSubproducto.textContent = 'Agregar subproducto';
        
        // Agregar el div y el botón al fieldset
        nuevoFieldset.appendChild(inputsDiv);
        nuevoFieldset.appendChild(botonAgregarSubproducto);
        
        // Obtener el fieldset original
        let fieldsetOriginal = document.querySelector('.agregarbutton');
        
        // Agregar el nuevo fieldset después del original
        fieldsetOriginal.parentNode.insertBefore(nuevoFieldset, fieldsetOriginal);
        
        // Incrementar el contador
        contador++;
      }

      function eliminarProducto(btn) {
        btn.parentNode.remove();
      }
      
</script>


{% endblock %}