{% extends 'base.html' %}


{% block title %} Actualizar Sucursal {% endblock %}


{% block body %}

    <style>
        .btn-lightGray
        {
            
            cursor: pointer;
            outline: 0;
            color: #FFFFFF;
            background-color: #787878;
            border-color: #787878;
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 16px;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
        }

        .btn-lightGray:hover {
            color: #fff;
            background-color: #494949;
            border-color: #494949;          
        }

        .form-control {
            width: 500px;
        }

        @media screen and (max-width: 768px) {
            .form-control {
                width: 100%;
            }
        }
    </style>

    <div class="container">
        <h1 class="text-light">Editar sucursal</h1> 
    </div>
    <div class="container">
        <form action="/actualizarsucursal/{{ key }}/{{ campo['nombre'] }}" method="post">
            <div class="form-group">
                <label style="color: #FFFFFF;">Nombre:</label>
                <input type="hidden"  name="id" value="{{key}}">
                <input type="text" class="form-control" name="nombre" value="{{ campo['nombre'] }}" required>
                <label style="color: #FFFFFF;">Dirección:</label>
                <textarea type="text" class="form-control" name="direccion" rows="3" required>{{ campo['direccion'] }}</textarea>
                <button class="btn btn-lightGray mt-4" type="submit">Guardar</button>
                <a href="/detallessucursal/{{ key }}"> 
                    <button class="btn btn-lightGray mt-4" type="button">Cancelar</button>
                </a>
            </div>
        </form>
    </div>

{% endblock %}