{% extends 'base.html' %}


{% block title %} Agregar usuario {% endblock %}


{% block body %}

<style>
  html{
        font-size: small;
    }
  .btn-lightGray
    {
        cursor: pointer;
        outline: 0;
        color: #FFFFFF;
        background-color: #787878;
        border-color: #787878;
        display: inline-block;
        line-height: 1.5;
        text-align: center;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
    }

    .btn-lightGray:hover {
        color: #fff;
        background-color: #494949;
        border-color: #494949;          
    }

    form {
      width: 80%;
      margin: 0 auto;
    }
    
    .left, .right {
      width: 50%;
    }
    
    .left {
      float: left;
    }
    
    .right {
      float: right;
    }
    
    form input[type="text"] {
      width: 80%;
    }
    form input[type="email"] {
      width: 80%;
    }
    form input[type="password"] {
      width: 80%;
    }

    
    @media (max-width: 600px) {
      .left, .right {
        width: 100%;
        float: none;
      }
    }
</style>


<h1 class="text-light">Agregar usuario</h1> 
<br>

{% if message %}
    <p style="color: #FFFFFF;">{{ message }}</p>
{% endif %}

<form action="{{ url_for('crear_usuario') }}" method="post">
    <div class="left">
    <!-- Validación, al menos 3 caracteres y no puede ser solamente espacios en blanco (pattern) -->
    <label style="color: #FFFFFF;">Nombre</label>
    <input type="text" class="form-control" name="nombre" pattern="^(?!\s*$).{3,}$" title="Mínimo 3 caracteres" required>

    <label style="color: #FFFFFF;">Apellido</label>
    <input type="text" class="form-control" name="apellido" pattern="^(?!\s*$).{3,}$" title="Mínimo 3 caracteres" required>

    <label style="color: #FFFFFF;">Email</label>
    <input type="email" class="form-control"  name="email" required>

    <label style="color: #FFFFFF;">Contraseña</label>
    <input type="password" class="form-control" name="password" pattern="^(?!\s*$).{6,}$" title="Mínimo 6 caracteres" required/>

    <label style="color: #FFFFFF;">Confirmar contraseña</label>
    <input type="password" class="form-control" name="confirm_password" pattern="^(?!\s*$).{6,}$" title="Mínimo 6 caracteres" required/>
    <button class="btn btn-lightGray mt-4" type="submit">Crear</button>
    <a href="/usuarios/"> 
        <button class="btn btn-lightGray mt-4" type="button">Cancelar</button>
    </a>
</div>    

    <div class="right">

    <label style="color: #FFFFFF;">Rol</label>
    <select name="role" id="role" class="form-control">
        <option>Administrador</option>

        {% if datos %}
        {% for key, value in datos.items() %}
                <option>{{ value['nombre'] }}</td>
        {% endfor %}
        {% endif %}

    </select>

    </div> 

    <input type="hidden" name="role_text" id="role_text">



</form>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', event => {
        const select = document.querySelector('#role');
        const selectedOptionText = select.options[select.selectedIndex].text;
        const hiddenInput = document.querySelector('#role_text');
        hiddenInput.value = selectedOptionText;
    });
</script>

{% endblock %}