{% extends 'base.html' %}


{% block title %} Agregar sucursal {% endblock %}


{% block body %}

<style>
    .btn-lightGray
    {
        cursor: pointer;
        outline: 0;
        color: #FFFFFF;
        background-color: #787878;
        border-color: #787878;
        display: inline-block;
        line-height: 1.5;
        text-align: center;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 10px;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
    }

    .btn-lightGray:hover {
        color: #fff;
        background-color: #494949;
        border-color: #494949;          
    }

    form {
        width: 80%;
        margin: 0 auto;
    }
    
    .left, .right {
        width: 50%;
    }
    
    .left {
        float: left;
    }
    
    .right {
        margin-bottom: 20px;
        float: right;
        border-radius: 5px;
        padding: 15px;
    }
    
    .right input[type="text"] {
        width: 80%;
    }
    .right textarea {
        width: 80%;
    }
    
    @media (max-width: 600px) {
        .left, .right {
        width: 100%;
        float: none;
        }
    }
    </style>


<h1 class="text-light">Agregar sucursal</h1> 
<br>

{% if message %}
    <p style="color: #FFFFFF;">{{ message }}</p>
{% endif %}

<form action="/agregarsucursal/" method="post">
    <div class="left">
        <!-- Validación, al menos 3 caracteres y no puede ser solamente espacios en blanco (pattern) -->
        <label style="color: #FFFFFF;">Nombre:</label>
        <input type="text" class="form-control" name="nombre" pattern="^(?!\s*$).{3,}$" title="Mínimo 3 caracteres" required>
        <label style="color: #FFFFFF;">Dirección:</label>
        <textarea type="text" class="form-control" name="direccion" rows="3" pattern="^(?!\s*$).{3,}$" title="Mínimo 3 caracteres" required></textarea>
        <button class="btn btn-lightGray mt-4" type="submit">Crear</button>
        <a href="/sucursales/"> 
            <button class="btn btn-lightGray mt-4" type="button">Cancelar</button>
        </a>
    </div>
</form>

{% endblock %}
 