{% extends 'base.html' %}


{% block title %} Agregar sucursal {% endblock %}


{% block body %}

<style>
  .btn-lightGray {
      cursor: pointer;
      outline: 0;
      color: #FFFFFF;
      background-color: #787878;
      border-color: #787878;
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      border: 1px solid transparent;
      padding: 6px 12px;
      font-size: 16px;
      border-radius: .25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  .btn-lightGray:hover {
      color: #fff;
      background-color: #494949;
      border-color: #494949;
  }

  .form-control {
      width: 100%;
      max-width: 500px;
  }
</style>


<h1 class="text-light">Agregar Producto</h1> 

<form action="/agregarproducto/" method="post">
  <div class="form-group">
    <label style="color: #FFFFFF;">Código producto:</label>
    <input type="text" class="form-control" name="cod_producto" required>
    <label style="color: #FFFFFF;">Descripción:</label>
    <textarea type="text" class="form-control" name="descripcion" rows="3" required></textarea>

    <label style="color: #FFFFFF;">Marca:</label>
    <input type="text" class="form-control" name="marca" required>
    <label style="color: #FFFFFF;">Referencia:</label>
    <input type="text" class="form-control" name="referencia">
    <label style="color: #FFFFFF;">Precio:</label>
    <input type="text" class="form-control" name="precio" required>

    <table>
      <thead>
        <th type="text" style="color: #FFFFFF;">Código general</th>
        <th type="text" style="color: #FFFFFF;">Sub</th>
      </thead>
    
      <tbody>
        <tr>
          <td><input type="text" class="form-control" name="gen1"></td>
          <td><input type="text" class="form-control" name="sub11"></td>
        </tr>
        <tr id="button-row">
          <td><button onclick="agregarInput()" type="button" class="btn btn-lightGray">Agregar código</button></td>
          <td><button onclick="agregarSubInput()" type="button" class="btn btn-lightGray">Agregar sub</button></td>
        </tr>
      </tbody>
    </table>

    {% if nom_sucursal %}
    {% for value in nom_sucursal %}
    {% set new_value = value|replace(" ", "_") %}
    <label for="stock_{{ new_value }}" style="color: #FFFFFF;">Stock {{ value }}:</label>
    <input type="text" class="form-control" name="stock_{{ new_value }}" id="stock_{{ new_value }}">
    <label for="ubi_{{ new_value }}" style="color: #FFFFFF;">Ubicación {{ value }}:</label>
    <textarea type="text" class="form-control" name="ubi_{{ new_value }}" id="ubi_{{ new_value }}" rows="3" required></textarea>
    {% endfor %}
    {% endif %}

    <button class="btn btn-lightGray mt-4" type="submit">Crear</button>
      <a href="/inventariogeneral/"> 
          <button class="btn btn-lightGray mt-4" type="button">Cancelar</button>
      </a>
  </div>
</form>

<script>
    var genCount = 1; // Contador para los inputs en la columna "Código general"
    var subCount = 1; // Contador para los inputs en la columna "Sub"
  
    function agregarInput() {
      // Incrementar el contador
      genCount++;
      subCount = 0;
      subCount++;
  
      // Agregar una nueva fila encima de la fila de botones
      var newRow = document.createElement("tr");
      var buttonRow = document.getElementById("button-row");
      buttonRow.parentNode.insertBefore(newRow, buttonRow);
  
      // Agregar una nueva entrada en la primera columna
      var newCell1 = document.createElement("td");
      var newInput = document.createElement("input");
      newInput.classList.add("form-control");
      newInput.type = "text";
      newInput.name = "gen" + genCount; // Usar el contador para generar el nombre único
      newCell1.appendChild(newInput);
      newRow.appendChild(newCell1);
  
      // Agregar una nueva entrada en la segunda columna
      var newCell2 = document.createElement("td");
      var newInput = document.createElement("input");
      newInput.classList.add("form-control");
      newInput.type = "text";
      newInput.name = "sub" + genCount + subCount; // Usar el contador para generar el nombre único
      newCell2.appendChild(newInput);
      newRow.appendChild(newCell2);
    }
  
    function agregarSubInput() {
      // Incrementar el contador
      subCount++;
  
      // Agregar una nueva fila encima de la fila de botones
      var newRow = document.createElement("tr");
      var buttonRow = document.getElementById("button-row");
      buttonRow.parentNode.insertBefore(newRow, buttonRow);
  
      // Agregar una nueva celda vacía en la primera columna
      var newCell1 = document.createElement("td");
      newRow.appendChild(newCell1);
  
      // Agregar una nueva entrada en la segunda columna
      var newCell2 = document.createElement("td");
      var newInput = document.createElement("input");
      newInput.classList.add("form-control");
      newInput.type = "text";
      newInput.name = "sub" + genCount + subCount; // Usar el contador para generar el nombre único
      newCell2.appendChild(newInput);
      newRow.appendChild(newCell2);
    }
  </script>

{% endblock %}
 