<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/JPaezLogo.png') }}">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>

<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
        <img src="{{ url_for('static', filename='images/JPaezLogo.png') }}">
      </div>

      <ul class="list-unstyled components">
          <li>
              <a href="/inventario/">Inventario</a>
          </li>
          <li>
              <a href="/salidas/">Salidas</a>
          </li>
          <li>
              <a href="/sucursales/">Sucursales</a>
          </li>
          <li>
              <a href="/usuarios/">Usuarios</a>
          </li>
          <li>
              <a href="/logout">Logout</a>
          </li>
      </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content" style="background-color: #2D2D2D">
    <button type="button" id="sidebarCollapse" class="btn btn-lightGray">
      <span>
        <div id="menuicon"></div>
        <div id="menuicon"></div>
        <div id="menuicon"></div>
    </span>
    </button>

    {% block body %}
    {% endblock %}
</div>

<script>
  $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
  });
</script>

</html>