<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/JPaezLogo.png') }}">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




    
</head>

<div class="wrapper">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script><link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
        <img src="{{ url_for('static', filename='images/JPaezLogo.png') }}">
      </div>

      <ul class="list-unstyled">
          <li>
              <a style="color: white; text-decoration: none;" href="/inventario/">Inventario</a>
          </li>
          <li>
              <a style="color: white; text-decoration: none;" href="/salidas/">Salidas</a>
          </li>
          <li class="active" >
            <a href="#homeSubmenu" style="color: white; text-decoration: none;" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Entradas</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              {% if session["role"] == "Administrador" %}
                <li class="lisubmenu">
                  <a style="color: white; text-decoration: none;" href="/entradas_compras/">Entradas por compras</a>
                </li>
              {% endif %}
                <li class="lisubmenu">
                  <a style="color: white; text-decoration: none;" href="/entradas_sucursal/">Entradas por sucursal</a>
                </li>
                <li class="lisubmenu">
                  <a style="color: white; text-decoration: none;" href="/entradas_devolucion/">Entradas por devolución</a>
                </li>      
            </ul>
         </li>
         <!--{% if session["role"] == "Administrador" %}
          <li>
              <a style="color: white; text-decoration: none;" href="/sucursales/">Sucursales</a>
          </li> -->
          <li>
              <a style="color: white; text-decoration: none;" href="/usuarios/">Usuarios</a>
          </li>
          {% endif %}
          <li>
              <a style="color: white; text-decoration: none;"s href="/logout">Logout</a>
          </li>
      </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content" style="background-color: #2D2D2D">
    <button type="button" id="sidebarCollapse" class="btn btn-lightGray">
    <span>
        <div id="menuicon"></div>
        <div id="menuicon"></div>
        <div id="menuicon"></div>
    </span>
    </button>

    {% block body %}
    {% endblock %}
</div>

<script>
  $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
  });
</script>

</html>