{% extends 'base.html' %}


{% block title %} Detalle entrada por sucursal {% endblock %}


{% block body %}

    <style>

      .btn-lightGray
      {
          cursor: pointer;
          outline: 0;
          color: #FFFFFF;
          background-color: #787878;
          border-color: #787878;
          display: inline-block;
          line-height: 1.5;
          text-align: center;
          border: 1px solid transparent;
          padding: 6px 12px;
          font-size: 10px;
          border-radius: .25rem;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
      }

        .btn-lightGray:hover {
            color: #fff;
            background-color: #494949;
            border-color: #494949;          
        }

    
        
    /*Izq der*/

        .details {
            width: 80%;
            margin: 0 auto;
        }
            
        .left, .right {
          width: 50%;
        }
        
        .left {
          float: left;
        }
        
        .right {
          margin-bottom: 20px;
          float: right;
          border-radius: 5px;
          padding: 15px;
        }
        
        h1, p {
          width: 80%;
        }
    
        .right h1, p {
          width: 100%;
        }
        .right h1, p {
          width: 100%;
        }
        .left textarea{
          width: 80%;
        }
        .envio-status {
          position: absolute;
          top: 10px;
          right: 10px;
      }
        
        @media (max-width: 600px) {
          .left, .right {
            width: 100%;
            float: none;
          }
          .left textarea{
            width: 100%;
          }
        }
    </style>

<div style="margin-bottom: 10px;">
    <h1 class="text-light">{{ entradas['documento'] }}</h1>
    {% if entradas['envio'] == "RECIBIDO" %}
    <div style="border: 1px solid green; border-radius: 5px; display: inline-block;">
        <p style="color: green; font-size: 12px; margin: 5px;">{{ entradas['envio'] }}</p>
    </div>
    {% elif entradas['envio'] == "INCOMPLETO" %}
    <div style="border: 1px solid red; border-radius: 5px; display: inline-block;">
        <p style="color: red; font-size: 12px; margin: 5px;">{{ entradas['envio'] }}</p>
    </div>
    {% elif entradas['envio'] == "PENDIENTE" %}
    <div style="border: 1px solid orange; border-radius: 5px; display: inline-block;">
        <p style="color: orange; font-size: 12px; margin: 5px;">{{ entradas['envio'] }}</p>
    </div>
    {% else %}
    <div style="border: 1px solid #FFFFFF; border-radius: 5px; display: inline-block;">
        <p style="color: #FFFFFF; font-size: 12px; margin: 5px;">{{ entradas['envio'] }}</p>
    </div>
    {% endif %}
    <br>
    <br>
    <a href="{{ url_for('entradas_sucursal') }}"> 
        <button class="btn btn-lightGray">Cancelar</button>
    </a>
</div>

<br>

<div class="details"> 

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dark" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="left">

<h1 style="color: #FFFFFF; font-size:x-large;">Fecha</h1>
<p style="color: #FFFFFF;">{{ entradas['fecha'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Descuento</h1>
<p style="color: #FFFFFF;">{{ entradas['descuento'] }}%</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Sucursal de envio</h1>
<p style="color: #FFFFFF;">{{ entradas['sucursal_envio'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Sucursal de Recepción</h1>
<p style="color: #FFFFFF;">{{ sucursal_seleccionada }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Tipo de pago</h1>
<p style="color: #FFFFFF;">{{ entradas['tipo_pago'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Total</h1>
<p style="color: #FFFFFF;">{{ entradas['total'] }}</p>

<form action="/detalles_entradas_sucursal/{{ sucursal_seleccionada }}/{{ llave }}" method="post">

<h1 style="color: #FFFFFF; font-size:x-large;">Comentario</h1>
<textarea rows="10" type="text" class="form-control" id="comentario" name="comentario">{{ entradas['comentario'] }}</textarea>
<br>
<br>
</div>

  {% for codigo_producto, info in ubicaciones.items() %}
  <h3 style="color: #FFFFFF; font-size:x-large;">{{ codigo_producto }}: {{ info.descripcion }}</h3>
  <input id="codigo" name="codigo" type="hidden" value={{ codigo_producto }}>
  <div class="right" style="background-color: black;">

      <input type="checkbox" name="checkbox_{{codigo_producto}}" {% if info.recibido == "Si" %} checked {% endif %} >
    
      <h1 style="color: #FFFFFF; font-size:x-large;">Ubicación</h1>
      <input type="text" class="form-control" name="ubicacion" value="{{ info.ubicacion }}">
  
      <h1 style="color: #FFFFFF; font-size:x-large;">Ubicación especifica</h1>
      <input type="text" class="form-control" name="ubicacionespecifica" value="{{ info.ubicacion_especifica }}">

      <h1 style="color: #FFFFFF; font-size:x-large;">Stock</h1>
      <input type="text" class="form-control" name="stock" value="{{ info.cantidad }}">
  </div>
  {% endfor %}

  <button class="btn btn-lightGray mt-4" type="submit">Crear</button>
</form>
  




{% endblock %}