{% extends 'base.html' %}


{% block title %} Detalle Producto {% endblock %}


{% block body %}

    <style>
        html{
        font-size: small;
    }

.btn-lightGray
    {
        cursor: pointer;
        outline: 0;
        color: #FFFFFF;
        background-color: #787878;
        border-color: #787878;
        display: inline-block;
        line-height: 1.5;
        text-align: center;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
    }

    .btn-lightGray:hover {
        color: #fff;
        background-color: #494949;
        border-color: #494949;          
    }

    
        
    /*Izq der*/

        .details {
            width: 80%;
            margin: 0 auto;
        }
        .left {
            width: 50%;
            height: 100%;
        }
            
        .right {
          width: 50%;
        }
        
        .left {
          float: left;
        }
        
        .right {
          float: right;
        }
        
        h1, p {
          width: 80%;
        }
    
        .right h1, p {
          width: 100%;
        }
        .right h1, p {
          width: 100%;
        }
        .blackbox{
            border-radius: 5px;
            background-color: black;
            text-align: left;
            padding: 10px;
            margin-bottom: 10px;
        }
        
        @media (max-width: 600px) {
          .left, .right {
            width: 100%;
            float: none;
          }
        }
    </style>

<div style="margin-bottom: 10px;">
    <h1 class="text-light">{{ campo['codigo'] }}</h1>
    <a href="/actualizar_producto/{{ key }}">
        <button class="btn btn-lightGray">Editar producto</button>
    </a>
    <a href="{{ url_for('inventario') }}"> 
        <button class="btn btn-lightGray">Cancelar</button>
    </a>
</div>

<br>

<div class="details"> 


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dark" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="left">

<h1 style="color: #FFFFFF; font-size:x-large;">Descripción</h1>
<p style="color: #FFFFFF;">{{ campo['descripcion'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">OEMs</h1>

{% for data in campo['oems'].values() %}
    {% for x in range (1, data|length) %}
        <p style="color: #FFFFFF;">{{ data[0] }}{{ data[x] }}</p>
    {% endfor %}
{% endfor %}

<h1 style="color: #FFFFFF; font-size:x-large;">Marca</h1>
<p style="color: #FFFFFF;">{{ campo['marca'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Referencia</h1>
<p style="color: #FFFFFF;">{{ campo['referencia'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Precio</h1>
<p style="color: #FFFFFF;">${{ '{:.2f}'.format(campo['precio']) }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Precio(IVA)</h1>
<p style="color: #FFFFFF;">${{ '{:.2f}'.format(campo['precioiva']) }}</p>

</div>



{% if campo %}
<div class="right">
    {% for estado, datos in campo['estado'].items() %}
    <div class="blackbox">
            <h3 style="color: #FFFFFF; font-size: x-large;">{{ estado }}</h3>
            <h1 style="color: #FFFFFF; font-size: x-large;">Ubicación</h1>
            <p style="color: #FFFFFF;">{{ datos['ubicacion'] }}</p> 
            
            <h1 style="color: #FFFFFF; font-size: x-large;">Ubicación bodega</h1>
            <p style="color: #FFFFFF;">{{ datos['ubicacionespecifica'] }}</p> 
            
            <h1 style="color: #FFFFFF; font-size: x-large;">Stock</h1>
            <p style="color: #FFFFFF;">{{ datos['stock'] }}</p> 
    </div>
    {% endfor %}
</div>
{% endif %}


<a href="/eliminar_producto/{{ key }}" onclick="return confirm('¿Seguro deseas eliminar?')"> 
    <button class="btn btn-danger">
        Eliminar
    </button>
</a>

</div>

<script>
    const inputsContainer = document.querySelector('#inputs-container');
    for (const [key, value] of Object.entries(oems)) {
    // Crear un fieldset para cada oem
    const fieldset = document.createElement('fieldset');
    fieldset.className = 'myfieldset';

    // Crear un label para el código general
    const label = document.createElement('label');
    label.textContent = 'Código general';
    fieldset.appendChild(label);

    // Crear un input para el código general
    const inputCodigoGeneral = document.createElement('input');
    inputCodigoGeneral.type = 'text';
    inputCodigoGeneral.name = key;
    inputCodigoGeneral.value = value[0];
    fieldset.appendChild(inputCodigoGeneral);

    // Crear un label para los subcódigos
    const labelSubcodigos = document.createElement('label');
    labelSubcodigos.textContent = 'Subcódigos';
    fieldset.appendChild(labelSubcodigos);

    // Crear un input para cada subcódigo
    for (let i = 1; i < value.length; i++) {
        const inputSubcodigo = document.createElement('input');
        inputSubcodigo.type = 'text';
        inputSubcodigo.name = key;
        inputSubcodigo.value = value[i];
        fieldset.appendChild(inputSubcodigo);
    }

    // Agregar el fieldset al contenedor de inputs
    inputsContainer.appendChild(fieldset);
    }
</script>

{% endblock %}