{% extends 'base.html' %}


{% block title %} Detalle Producto {% endblock %}


{% block body %}

    <style>
        .btn-lightGray
        {
            
            cursor: pointer;
            outline: 0;
            color: #FFFFFF;
            background-color: #787878;
            border-color: #787878;
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 16px;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
        }

        .btn-lightGray:hover {
            color: #fff;
            background-color: #494949;
            border-color: #494949;          
        }

        .arriba {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 50px;
        }

        .arriba h1 {
            margin-right: 10px;
        }

        .arriba button {
            margin-left: 10px;
            margin-top: 10px;
        }

        @media (max-width: 768px) {
            .arriba {
                flex-direction: column;
                align-items: flex-start;
            }
            .arriba button{
                margin-left: 0px;
            }
        }
    
        
    </style>

<div style="margin-bottom: 10px;">
    <h1 class="text-light">{{ campo['codigo'] }}</h1>
    <a href="/actualizar_producto/{{ key }}">
        <button class="btn btn-lightGray">Editar producto</button>
    </a>
    <a href="{{ url_for('inventario') }}"> 
        <button class="btn btn-lightGray">Cancelar</button>
    </a>
</div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dark" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1 style="color: #FFFFFF; font-size:x-large;">Descripción</h1>
<p style="color: #FFFFFF;">{{ campo['descripcion'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">OEMs</h1>
<p style="color: #FFFFFF;">{{ campo['oems'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Marca</h1>
<p style="color: #FFFFFF;">{{ campo['marca'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Referencia</h1>
<p style="color: #FFFFFF;">{{ campo['referencia'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Precio</h1>
<p style="color: #FFFFFF;">{{ campo['precio'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Ubicación</h1>
<p style="color: #FFFFFF;">{{ campo['ubicacion'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Ubicación especifica</h1>
<p style="color: #FFFFFF;">{{ campo['ubicacionespecifica'] }}</p>

<h1 style="color: #FFFFFF; font-size:x-large;">Stock</h1>
<p style="color: #FFFFFF;">{{ campo['stock'] }}</p>

<a href="/eliminar_producto/{{ key }}" onclick="return confirm('¿Seguro deseas eliminar?')"> 
    <button class="btn btn-danger">
        Eliminar
    </button>
</a>

{% endblock %}