{% extends 'base.html' %}


{% block title %} Entradas sucursal {% endblock %}


{% block body %}

<style>
    input{
        height: 25px;
    }
    .dt-button{
        cursor: pointer;
        outline: 0;
        color: #FFFFFF;
        background-color: #787878;
        border-color: #787878;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 16px;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .download{
        cursor: pointer;
        outline: 0;
        color: #FFFFFF;
        background-color: #787878;
        border-color: #787878;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 16px;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .btn-lightGray
    {
        
        cursor: pointer;
        outline: 0;
        color: #FFFFFF;
        background-color: #787878;
        border-color: #787878;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 16px;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
    }

    .btn-lightGray:hover {
        color: #fff;
        background-color: #494949;
        border-color: #494949;          
    }

    .dropdown{
        width:auto;
    }
    form {
        display: flex;
        align-items: center;
    }

    .form-group {
        margin-right: 10px;
    }

    .form-group label {
        margin-right: 5px;
    }

    .form-group select {
        margin-right: 5px;
    }

    .form-group .btn-primary {
        margin-left: 10px;
    }

    table {
        width: 100%;
    }
    
    tbody{
        background-color: white;
    }
    th{
        text-align: center;
        padding: 8px;
    }
    thead{
        background: black;
        color: white;
    }
    td {
        text-align: center;
        padding: 8px;
    }
    h2, .h2{
        margin: 0;
        font-size: 100%;
    }
    table.table-bordered{
        border:1px solid black;
        margin-top:20px;
    }
    table.table-bordered > thead > tr > th{
        border:1px solid black;
    }
    table.table-bordered > tbody > tr > td{
        border:1px solid black;
    }
    @media (max-width: 767px) {
        .only-table-wrapper {
            overflow-x: auto;
        }
        h2, .h2{
            font-size: 100%;
        }
        input{
            height: 25px;
        }
    }
</style>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>




<div class="row">
    <div class="col-sm-12 col-md-6">
        <h1 class="text-light">Entradas sucursal</h1>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dark" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="{{ url_for('entradas_sucursal') }}" method="POST">
    <div class="form-group">
        <select class="form-control dropdown" id="sucursal" name="sucursal" {% if session != "Administrador" %} disabled {% endif %}>
            {% if nombres %}
                {% for nombre in nombres %}
                    <option value="{{ nombre }}" {% if sucursal_seleccionada == nombre %}selected{% endif %}>{{ nombre }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
</form>


<div class="tablediv">
    <table class="table table-striped table-bordered" id="example">
        <thead>
            <tr>
                <th class="header">No. Documento</th>
                <th class="header">Fecha</th>
                <th class="header">Productos</th>
                <th class="header">Cantidades</th>
                <th class="header">Total</th>
                <th class="header">Sucursal de envio</th>
                <th class="header">Estado</th>
                <th><h2>Detalles</h2></th>
            </tr>
        </thead>
        <tbody>
            {% if entradas %}
                {% for key, entrada in entradas.items() %}
                    <tr>
                        <td class="data">{{ entrada['documento'] }}</td>
                        <td class="data">{{ entrada['fecha'] }}</td>
                        <td class="data">
                            {% for producto in entrada['productos'] %}
                                {{ producto }}<br>
                            {% endfor %}
                        </td>
                        <td class="data">
                            {% for producto in entrada['cantidades'] %}
                                {{ producto }}<br>
                            {% endfor %}
                        </td>
                        <td class="data">{{ entrada['total'] }}</td>
                        <td class="data">{{ entrada['sucursal_envio'] }}</td>

                        <td class="data">{{ entrada['envio'] }}</td>

                        <td>
                            <a href="/detalles_entradas_sucursal/{{sucursal_seleccionada}}/{{ key }}" class="btn btn-lightGray">Ver detalles</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById('sucursal').addEventListener('change', function() {
        this.form.submit();
    });
</script>

{% endblock %}