{% extends 'base.html' %}


{% block title %} Inventario {% endblock %}


{% block body %}
<style>
    .btn-lightGray
    {
        
        cursor: pointer;
        outline: 0;
        color: #FFFFFF;
        background-color: #787878;
        border-color: #787878;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 16px;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
    }

  .btn-lightGray:hover {
      color: #fff;
      background-color: #494949;
      border-color: #494949;          
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
</style>


<h1 class="text-light">Inventario</h1>
<div>
  <a href="/agregarproducto/">
    <button class="btn btn-lightGray float-end">Crear nuevo producto</button>
  </a>
  <a href="#"> 
    <button class="btn btn-lightGray float-end">Buscar</button>
  </a> 
</div>


  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-dark" role="alert">
              {{message}}
          </div>
      {% endfor %}
  {% endif %}
{% endwith %}
<div style="overflow-x:auto;">
<table class="table table-dark table-striped table-hover" border="1">
      <thead>
          <tr>
              <th>Código producto</th>
              <th>OEM</th>
              <th>Descripción</th>
              <th>Marca</th>
              <th>Referencia</th>
              <th>Precio + IVA</th>
              {% if nom_sucursal %}
              {% for value in nom_sucursal %}
              <th>{{ value }}</th>
              {% endfor %}
              {% endif %}
              <th colspan="1">Detalles</th>
              
          </tr>
      </thead>
      <tbody>
          {% if datos %}
          {% for key, value in datos.items() %}
              <tr>
                  <td>{{ value['cod_producto'] }}</td>
                  <td>
                    {% for sublist in value['oems'] %}
                      {% for i in range(1, sublist|length) %}
                        {{ sublist[0] + sublist[i] }} <br>
                      {% endfor %}
                    {% endfor %}
                  </td>
                  <td>{{ value['descripcion'] }}</td>
                  <td>{{ value['marca'] }}</td>
                  <td>{{ value['referencia'] }}</td>
                  <td>{{ value['precio_iva'] }}</td>
                  {% for x in value['stock_prod'] %}
                  <th>{{ value['stock_prod'][x]}}</th>
                  {% endfor %}
                  <td>
                      <a href="/detallessucursal/{{ key }}" class="btn btn-lightGray">Ver detalles</a>
                  </td>
              </tr>
          {% endfor %}
          {% endif %}
      </tbody>
</table>
</div>

{% endblock %} 