{% extends 'loginbase.html' %}


{% block title %} login {% endblock %}

{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}

<main class="text-center">
  <form class="form-signin" action="/reset_password" method="POST">
    <img src="{{ url_for('static', filename='images/JPaezLogo.png') }}" alt="" width="240" height="185" class="mb-4">
    <h1 class="text-light mb-2">Recuperar contraseña</h1>

    {% if message %}
        <p style="color: #FFFFFF;">{{ message }}</p>
    {% endif %}
    {% if error %}
        <p style="color: #FFFFFF;">{{ error }}</p>
    {% endif %}

    <div class="form-floating mb-2">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
      <label for="floatingInput">Email</label>
    </div>

    <input class="w-100 btn btn-lg btn-dark mb-2" type="submit" value="Recuperar Contraseña"></input>
    <a href="/" style="color: #FFFFFF;">Iniciar sesión</a>
  </form>
</main>
    
{% endblock %}